body {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color:  #111111;
    background-color:pink;
}
#quiz {
    width:  50%;
    margin: 5%;
    margin-left: 25%;
    padding:  10px 20px 40px 20px;
    border:  5px solid #110d0d;
}
.choices {
    margin:  10px;
}
.choice {
    margin: 5px;
}

#finalScore {
    text-align: center;
}

#question-title {
    font-size:  26px;
    padding: 10px;
}

#next-question {
    float:  right;
    margin-bottom:  10px;
}
.award_icon {
    display: block;
    font-size: 300px;
    color: rgb(10, 10, 10);
  }
  .quiz_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100px;
    background-color: rgb(13, 14, 13);
   
    color: rgb(247, 238, 238);
  }
 